{{ define "main"}}

<div class="text-404">
  <div class="row_404_bg">
    <img src='images/404-1.gif' class='row_404_img' style="height: 10vh;">
  </div>
  <div class="four_zero_four_bg">
    <img src='images/404-2.gif' class='four_zero_four_bg_img'>
  </div>
  <div class="contant_box_404">
    <h2 class="h2">
        Looks like you're lost 😕
    </h2>
    <p>The page you are looking for is not available!</p>
    <button class="button button--tertiary button--small button--solid" style="background-color: #4CAF50; border: none; color: white; padding: 12px 40px; text-align: center; text-decoration: none; display: inline-block; border-radius: 12px;"> 
      <a href="{{ .Site.BaseURL }}" class="link_404">Go to Home</a></button> 
  </div>
</div>

{{ end }}
